*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color:#e9fae3;
}

#heading1{
    text-align: center;
}


#div1,#div2{
    width: 40%;
    padding: 20px;
    font-weight: lighter;
    /* height: 80%; */
    margin: 10px;
}

/* #div1 input:not(input[type="submit"]){ */
    /* border-style:none ; */

/* } */
.divv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#div1{
    background-color: #9cafb7;
}

#div2{
    background-color: #e5fcff;
}

#submitsignup{
    background-color: lavenderblush;
    border-radius: 15px;
    border: 2px;
    padding: 5px;

}

#submitsignup:hover{
    background-color: #fe60c0;
    cursor: pointer;
}

